header {
    height: 95vh;
}

h1 {
    top: 20rem;
    right: auto;
    line-height: 6rem;
    font-size: 6rem;
}

header h2 {
    top: 22rem;
    font-size: 2.5rem;
    width: 100%;
    left: 0;
}

header #cisors {
    height: 5.5rem;
    width: 5.5rem;
    top: 80%;
    font-size: 3rem;
}

header img {
    margin-top: 20%;
}

#about {
    height: 200vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

#about .row {
    max-width: 100%;
    margin: 0 2rem;
}

.row [class^="col-"]:not(:last-child) {
    max-width: 85%;
    margin-bottom: 2.5rem;
}

.row [class^="col-"]:last-child {
    max-width: 80%;
}

.centerH {
   width: 90%;
   margin: 2rem 1rem 2rem 2rem;
}



#tarifs {
    height: 270vh;
}

#conteneurFlex {
    padding-bottom: 0;
    padding-top: 10%;
    margin-top: 0;
}