header {
    height: 70vh;
}

h1 {
    top: 20rem;
    right: auto;
    line-height: 5rem;
    font-size: 6.5rem;
}

header h2 {
    top: 30rem;
    font-size: 3rem;
    width: 60%;
    left: 20%;
    margin: 0;
}

header #cisors {
    height: 5.5rem;
    width: 5.5rem;
    top: 60%;
    font-size: 3rem;
}

header img {
    margin-top: 20%;
}

#about {
    height: 120vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

#about .row {
    max-width: 100%;
    margin: 0 2rem;
}

.row [class^="col-"]:not(:last-child) {
    max-width: 85%;
    margin-bottom: 2.5rem;
}

.row [class^="col-"]:last-child {
    max-width: 80%;
}

.centerH {
   width: 80%;
   margin: 2rem 1rem 2rem 2rem;
}

#tarifs {
    height: 170vh;
}

#conteneurFlex {
    padding-bottom: 0;
    padding-top: 10%;
}